.phoneIcon {
    img {
        width: 2.8rem;
        height: 3.1rem;

        &:hover {
            width: 3.1rem;
            height: 3.3rem;
            margin-bottom: -0.2rem;
            margin-right: -0.2rem;
        }

        @include media-breakpoint-between(md, lg) {
            width: 2.4rem;
            height: 2.6rem;

            &:hover {
                width: 2.8rem;
                height: 3rem;
                margin-bottom: -0.4rem;
                margin-right: -0.2rem;
            }
        }
    }
}
.mailIcon {
    img {
        width: 3.1rem;

        &:hover {
            width: 3.4rem;
            margin-left: -0.3rem;
        }

        @include media-breakpoint-between(md, lg) {
            width: 2.6rem;

            &:hover {
                width: 3rem;
                margin-left: -0.3rem;
            }
        }
    }
}

