.avatar {
    background-color: $brand_blue-primary;
    max-width: 20.4rem;
    min-width: 20.4rem;
    height: 20.4rem;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: block;

    @include media-breakpoint-between(md, lg) {
        max-width: 10rem;
        min-width: 10rem;
        height: 10rem;
    }

    img {
        height: 100%;
        object-fit: cover;
    }
}
